/data/dafny
/data/smtlib
/data/cdafny/
/data/cs_komodo/
/data/cvc5_cdafny/
/data/s_komodo/
/target
/gen
.ninja*
__pycache__/
bin
lib
lib64
share
.vscode/
pyvenv.cfg
data/*
!data/chunk.tar.gz.*
!data/sample_lists/
!data/*.lrz
temp
!data/bisect_tasks/
build.ninja
cache/
