/data/dafny
/data/smtlib
/data/cdafny/
/data/cs_komodo/
/data/cvc5_cdafny/
/data/s_komodo/
/target
/gen
ninja
.ninja*
scripts/__pycache__/
bin
lib
lib64
share
.vscode/
pyvenv.cfg
data/*
!data/mariposa.db.tar.gz